* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6995ed, #0026a5c4);
    margin: 0;
}

.container {
    position: absolute;
    max-width: 360px;
    margin: 50px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.container:hover {
    transform: scale(1.02);
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #35424a;
}

p {
    color: #666;
}

.bio {
    margin-bottom: 30px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link {
    background: #467dea;
    width: 40%;
    margin: 0 auto;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s, transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.link:hover {
    background: #aaa;
    transform: translateY(-2px);
}

#changeProfileBtn {
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    right: 150px;
    top: 80px;
    width: 40px;
    height: 40px;
    transform: rotate(-20deg);
    background: #ffffff;
    border-radius: 50px;
    font-size: 30px;
    color: #527ef9;
    font-weight: 600;
    padding: 3px;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: #aaa;
}